@charset "ISO-8859-1";


.list-create-products {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1em;
}

.table-header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.create_product {
	font-weight: 600;
	font-size: 1.2rem;
	background-color: lightgreen;
	border-radius: 5px;
	padding: 2px;
	cursor: pointer;
}

.create_product i {
	margin-left: 5px;
	/* Adjust the spacing between text and icon */
	font-size: 1.2rem;
	color: white;
	/* Adjust the color of the plus icon */
}

table {
	margin: 2em auto;
	text-align: center;
}

table caption {
	display: none;
}

table th {
	cursor: pointer;
}

table,
th,
td {
	/* border-bottom: 2px solid #000; */
	background-color: white;
	border-collapse: collapse;
	padding: 1em;
}

table tbody .success {
	border: 4px solid #09c372;
}

table tbody .fail {
	border: 4px solid #ff3860;
}

table tbody tr td {
	font-size: 1.1rem;
	font-weight: 500;
}

table tbody tr td img {
	width: 80px;
}

table tbody tr td .fa-eye {
	font-size: 1.5rem;
	color: blue;
	cursor: pointer;
}

table tbody tr td .fa-pen-to-square {
	font-size: 1.5rem;
	color: blueviolet;
	cursor: pointer;
}

table tbody tr td .fa-trash {
	font-size: 1.5rem;
	color: red;
	cursor: pointer;
}

table tbody tr td .fa-check {
	color: #09c372;
	font-weight: bold;
	font-size: 1.2rem;
	cursor: pointer;
}

table tbody tr td .fa-xmark {
	color: #ff3860;
	font-weight: bold;
	font-size: 1.2rem;
	cursor: pointer;
}


.edit-product-all {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	/* background-color: rgb(0,0,0); */
	background-color: rgba(0, 0, 0, 0.1);
}

.close i {
	color: white;
	font-size: 3.5rem;
	font-weight: bold;
	margin-left: 87%;
}

.close i:hover,
.close i:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}