@charset "ISO-8859-1";

.product-main {
	padding: 20px;
	border-radius: 10px;
	background: #f1fcfc;
	box-shadow: 5px 5px 16px #bcc5c5, -5px -5px 16px #ffffff;
	margin-bottom: 4em;
}

.quantity-price-list {
	background-color: #b7d2f4;
	border-radius: 10px;
}

.quantity_price_list_item {
	background-color: #fff;
	padding: 5px;
	border-radius: 5px;
}

.quantity_price_p {

	font-weight: 500;
	font-family: sans-serif;
	font-size: 1.1rem;
}

.quantity_price_delete {

	color: white;
	border-radius: 5px;
	cursor: pointer;
	padding: 2px;
}

.fa-plus,
.form-check-label {
	cursor: pointer;
	font-weight: 400;
	font-size: 1.1rem;
}

