<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ProductServlet</servlet-name>
  	<display-name>ProductServlet</display-name>
  	<description></description>
  	<servlet-class>com.fssa.agrokart.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddProductServlet</servlet-name>
  	<display-name>AddProductServlet</display-name>
  	<description></description>
  	<servlet-class>com.fssa.agrokart.servlet.AddProductServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddProductQuantitiesCategoryServlet</servlet-name>
  	<display-name>AddProductQuantitiesCategoryServlet</display-name>
  	<description></description>
  	<servlet-class>com.fssa.agrokart.servlet.AddProductQuantitiesCategoryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddProductQuatcatServlet</servlet-name>
  	<display-name>AddProductQuatcatServlet</display-name>
  	<description></description>
  	<servlet-class>com.fssa.agrokart.servlet.AddProductQuatcatServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReadAllServlet</servlet-name>
  	<display-name>ReadAllServlet</display-name>
  	<description></description>
  	<servlet-class>com.fssa.agrokart.servlet.ReadAllServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteProductServlet</servlet-name>
  	<display-name>DeleteProductServlet</display-name>
  	<description></description>
  	<servlet-class>com.fssa.agrokart.servlet.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateStatusServlet</servlet-name>
  	<display-name>UpdateStatusServlet</display-name>
  	<description></description>
  	<servlet-class>com.fssa.agrokart.servlet.UpdateStatusServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReadSingleProductServlet</servlet-name>
  	<display-name>ReadSingleProductServlet</display-name>
  	<description></description>
  	<servlet-class>com.fssa.agrokart.servlet.ReadSingleProductServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProductServlet</servlet-name>
  	<display-name>UpdateProductServlet</display-name>
  	<description></description>
  	<servlet-class>com.fssa.agrokart.servlet.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProductServlet</servlet-name>
  	<url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddProductServlet</servlet-name>
  	<url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddProductQuantitiesCategoryServlet</servlet-name>
  	<url-pattern>/AddProductQuantitiesCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddProductQuatcatServlet</servlet-name>
  	<url-pattern>/AddProductQuatcatServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReadAllServlet</servlet-name>
  	<url-pattern>/ReadAllServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteProductServlet</servlet-name>
  	<url-pattern>/DeleteProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateStatusServlet</servlet-name>
  	<url-pattern>/UpdateStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReadSingleProductServlet</servlet-name>
  	<url-pattern>/ReadSingleProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProductServlet</servlet-name>
  	<url-pattern>/UpdateProductServlet</url-pattern>
  </servlet-mapping>
</web-app>
